/* Search */
.search {
  display:flex;
  justify-content: center;
  gap: 30px;
}

.search input,
.search select {
  padding: 10px;
  border-radius: 10px;
  background: #ffffff;
  border: #ffffff;
  color: #514e4e;
}
